# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production Build Outputs (Vite, Create React App, Next.js, etc.)
/build
/dist
/out
.next/
*.tsbuildinfo

# Environment Variables & Secrets (NEVER commit these!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# Debugging and Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Editors and IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db
